{% extends 'blog/base.html' %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="magin-bottom:0px;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading" style="padding:35px">
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->    
    <article>
      {% for you in profile %}
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ you.bio }}
          </div>
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ you.github_link }}
          </div>
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ you.facebook_link }}
          </div>
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ you.stackoverflow_link }}
          </div>
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ you.twitter_link }}
          </div>
        </div>
        {% if user.is_authenticated %}
          <a class="btn btn-primary float-left" href="{% url 'about_edit' pk=you.pk %}">Edit</a>
        {% endif %}
      </div>
      {% endfor %}
    </article>

{% endblock %}