{% extends 'blog/base.html' %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="magin-bottom:0px;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading" style="padding:35px">
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}