{% extends 'blog/base.html' %}

{% block title %}
  <title>Deleted posts</title>
{% endblock title %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="margin-bottom: 10px;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading" style="padding: 50px; margin-top: 20px; padding-bottom: 20px;">
              <h1>Deleted</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
          <div class="post-preview">
            <a href="{% url 'post_detail' slug=post.slug %}">
              <h2 class="post-title">
               {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ post.text|truncatechars:200 }}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{ post.author}}</a>
              on {{ post.published_date }}</p>
          </div>
          <hr>
        {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}