{% extends 'blog/base.html' %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/post-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <!-- IF YOU DECIDE SUBHEADINGS {{ post.subtitle }}-->
              <h2 class="subheading"></h2>
              <span class="meta">Posted by
                <a href="#">{{ post.author }}</a>
                on {{ post.published_date }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>{{ post.text }}</p>
          </div>
        </div>
        {% if not post.published_date %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{% url 'post_publish' pk=post.pk %}">Publish &rarr;</a>
        </div>
        {% elif user.is_authenticated %}

        <ul>
            <a class="btn btn-primary float-left" href="{% url 'post_edit' pk=post.pk %}">Edit</a>

            <a class="btn btn-primary float-right" href="{% url 'post_remove' pk=post.pk %}">Delete</a>
        </ul>
        
        <div class="clearfix"></div>
        {% endif %}
      </div>
    </article>

    <div class="container">
      <a class="btn float-right" href="{% url 'add_comment_to_post' pk=post.pk %}">Post comment</a>
    </div>

    <hr>
    <div class="comment-box">
    {% for comment in post.comments.all %}
      <div>
        {{comment.author}}
        <span style="float:right;">{{comment.created_date|date:"Y-m-d"}}</span>
      </div>
      <div class="commentBox">
        <div>{{comment.text}}</div>
      </div>
      <br />
    {% empty %}
      <div class="commentBox">
        <div>No comments here yet.</div>
      </div>
    {% endfor %}
    </div>
    <hr>
{% endblock %}