{% extends 'blog/base.html' %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block title %}
  <title>{{ post.title }} - The Blog</title>
{% endblock title %}

{% block content %}
    <!-- Page Header -->
    {% if post.image %}
    <header class="masthead" style="background-image: url('{{ post.image.url }}')">
    {% else %}
    <header class="masthead" style="background-image: url('')">
    {% endif %}
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <!-- IF YOU DECIDE SUBHEADINGS {{ post.subtitle }}-->
              <h2 class="subheading">{{ post.subtitle }}</h2>
              <span class="meta">Posted by
                <a href="#">{{ post.author }}</a>
                on {{ post.published_date }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.get_markdown_text }}
          </div>
        </div>
        {% if not post.published_date and user.is_authenticated %}
        <div class="clearfix">
          <ul>

            <a class="btn btn-primary" href="{% url 'post_publish' slug=post.slug %}">Publish</a>
            
            <a class="btn btn-primary float-left" href="{% url 'post_edit' slug=post.slug %}">Edit</a>
           
            <a class="btn btn-primary float-right" href="{% url 'post_remove' pk=post.pk %}">Delete</a>
          </ul>
        </div>
        {% elif not post.is_active and user.is_authenticated %}
        <div class="clearfix">
          <ul>

            <a class="btn btn-primary" href="{% url 'post_publish' slug=post.slug %}">Publish</a>

            <a class="btn btn-primary float-left" href="{% url 'post_edit' slug=post.slug %}">Edit</a>

          </ul>
        </div>
        {% elif user.is_authenticated %}
        <div class="clearfix">
          <ul>

            <a class="btn btn-primary float-left" href="{% url 'post_edit' slug=post.slug %}">Edit</a>

            <a class="btn btn-primary float-right" href="{% url 'post_remove' pk=post.pk %}">Delete</a>

          </ul>
        </div>
        {% endif %}
      </div>
    </article>

    <!-- Social sharing -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul>
            <a class="fa fa-2x fa-twitter-square" href="https://twitter.com/home?status={{ post.subtitle|urlify }}%20{{ request.build_absolute_uri }}"></a>

            <a class="fa fa-2x fa-facebook-square" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"></a>

            <a class="fa fa-2x fa-google-plus-square" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}"></a>

            <a class="fa fa-2x fa-linkedin-square" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title|urlify  }}&summary={{ post.subtitle|urlify }}&source={{ request.build_absolute_uri }}"></a>

            <a class="fa fa-2x fa-reddit-square" href="https://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ post.title|urlify }}"></a>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Post comment -->
    <form method="POST" class="form-control-sm" action='.'>{% csrf_token %}
      <div class="comment-box">
            <div>{{ form|crispy }}</div>
            <button type="submit" class="save btn btn-default">Post</button>
      </div>
    </form>

  <!-- Comments -->
  {% for comment in comments %}
    <div class="comment-box">
      {% if comment.is_active and comment.is_parent %}
      <!-- Active parent comment -->
        <div class="blockquote-comment">

          <p>{{ comment.text|linebreaks }}</p>
          <div class="footer-comment">
            by {{ comment.author }} | {{ comment.created_date|timesince }} ago.
          </div>

          {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
              <i class="fa fa-remove"></i>
            </a>
          {% endif %}

          <!-- Reply -->
          <form method="POST" class="form-control-sm" action='.'>{% csrf_token %}
            <div class="comment-box">
                  <input name="parent_id" value="{{ comment.id }}" type="hidden">
                  <button type="submit" class="save btn btn-default float-right">
                    <i class="fa fa-pull-right fa-reply"></i>
                  </button>
                  <div>{{ form|crispy }}</div>
            </div>
          </form>
        </div>



        <!-- Replies -->
        {% for child in comment.children %}
          {% if child.is_active %}
          <!-- Active child replis -->
            <div class="child-comment-box">
              <div class="blockquote-comment">
                
                {% if user.is_authenticated %}
                <a class="btn btn-default float-right" href="{% url 'comment_remove' pk=child.pk %}">
                  <i class="fa fa-remove"></i>
                </a>
                {% endif %}

                <p>{{ child.text|linebreaks }}</p>
                <div class="footer-comment">
                  by {{ child.author }} | {{ child.created_date|timesince }} ago.
                </div>

              </div>
            </div>
          
          {% elif user.is_authenticated and not child.is_active %}
          <!-- Deleted child comments -->
            <div class="child-comment-box">
              <div class="blockquote-comment">

                <a class="btn btn-default float-right" href="{% url 'comment_undelete' pk=child.pk %}">
                  <i class="fa fa-check"></i>
                </a>

                <p>{{ child.text|linebreaks }}</p>
                <div class="footer-comment">
                  by {{ child.author }} | {{ child.created_date|timesince }} ago.
                </div>

              </div>
            </div>
          {% endif %}
        {% endfor %}

      {% elif not comment.is_active and user.is_authenticated and comment.is_parent %}
      <!-- Deleted parent comments -->
        <div class="blockquote-comment">

          <p>{{ comment.text|linebreaks }}</p>
          <div class="footer-comment">
            by {{ comment.author }} | {{ comment.created_date|timesince }} ago.
          </div>

          <a class="btn btn-default" href="{% url 'comment_undelete' pk=comment.pk %}">
            <i class="fa fa-check"></i>
          </a>

        </div>

        {% for child in comment.children %}
          {% if child.is_active %}
          <!-- Active child replis but not seenable because no parent -->
            <div class="child-comment-box">
              <div class="blockquote-comment">
                
                <a class="btn btn-default float-right" href="{% url 'comment_remove' pk=child.pk %}">
                  <i class="fa fa-remove"></i>
                </a>

                <p>{{ child.text|linebreaks }}</p>
                <div class="footer-comment">
                  by {{ child.author }} | {{ child.created_date|timesince }} ago.
                </div>

              </div>
            </div>
          
          {% elif user.is_authenticated and not child.is_active %}
          <!-- Deleted child comments -->
            <div class="child-comment-box">
              <div class="blockquote-comment">

                <a class="btn btn-default float-right" href="{% url 'comment_undelete' pk=child.pk %}">
                  <i class="fa fa-check"></i>
                </a>

                <p>{{ child.text|linebreaks }}</p>
                <div class="footer-comment">
                  by {{ child.author }} | {{ child.created_date|timesince }} ago.
                </div>

              </div>
            </div>
          {% endif %}
        {% endfor %}

      {% endif %}

    </div>

  {% empty %}
  <!-- If there are no comments -->
    <div class="comment-box">
      <div class="blockquote-comment">
        No comments here yet :(
      </div>
    </div>
  {% endfor %}
{% endblock %}