{% extends 'blog/base.html' %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Page Header -->
    {% if post.image %}
    <header class="masthead" style="background-image: url('{{ post.image.url }}')">
    {% else %}
    <header class="masthead" style="background-image: url('')">
    {% endif %}
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <!-- IF YOU DECIDE SUBHEADINGS {{ post.subtitle }}-->
              <h2 class="subheading">{{ post.subtitle }}</h2>
              <span class="meta">Posted by
                <a href="#">{{ post.author }}</a>
                on {{ post.published_date }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.get_markdown_text }}
          </div>
        </div>
        {% if not post.published_date and user.is_authenticated %}
        <div class="clearfix">
          <ul>

            <a class="btn btn-primary" href="{% url 'post_publish' slug=post.slug %}">Publish</a>
            
            <a class="btn btn-primary float-left" href="{% url 'post_edit' slug=post.slug %}">Edit</a>
           
            <a class="btn btn-primary float-right" href="{% url 'post_remove' pk=post.pk %}">Delete</a>
          </ul>
        </div>
        {% elif not post.is_active and user.is_authenticated %}
        <div class="clearfix">
          <ul>

            <a class="btn btn-primary" href="{% url 'post_publish' slug=post.slug %}">Publish</a>

            <a class="btn btn-primary float-left" href="{% url 'post_edit' slug=post.slug %}">Edit</a>

          </ul>
        </div>
        {% elif user.is_authenticated %}
        <div class="clearfix">
          <ul>

            <a class="btn btn-primary float-left" href="{% url 'post_edit' slug=post.slug %}">Edit</a>

            <a class="btn btn-primary float-right" href="{% url 'post_remove' pk=post.pk %}">Delete</a>

          </ul>
        </div>
        {% endif %}
      </div>
    </article>

    <!-- Social sharing -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul>
            <a class="fa fa-2x fa-twitter-square" href="https://twitter.com/home?status={{ post.subtitle|urlify }}%20{{ request.build_absolute_uri }}"></a>

            <a class="fa fa-2x fa-facebook-square" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"></a>

            <a class="fa fa-2x fa-google-plus-square" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}"></a>

            <a class="fa fa-2x fa-linkedin-square" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title|urlify  }}&summary={{ post.subtitle|urlify }}&source={{ request.build_absolute_uri }}"></a>

            <a class="fa fa-2x fa-reddit-square" href="https://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ post.title|urlify }}"></a>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Comments -->
    <form method="POST" class="form-control-sm" action='.'>{% csrf_token %}
      <div class="comment-box">
            <div>{{ form|crispy }}</div>
            <button type="submit" class="save btn btn-default">Post</button>
      </div>
    </form>

    <div class="comment-box">
    {% for comment in post.comments.all %}
      {% if comment.is_active and comment.is_parent %}
      <div>
        <span style="float:left">{{comment.author}}</span>

        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">X</a>
        {% endif %} 

        <span style="float:right;">{{comment.created_date|timesince}} ago  </span>
      </div>
      <div class="commentBox">
        {{comment.text|linebreaks }}
      </div>

      <form method="POST" class="form-control-sm" action='.'>{% csrf_token %}
        <div class="comment-box">
              <div>{{ form|crispy }}</div>
              <input name="parent_id" value="{{ comment.id }}" type="hidden">
              <button type="submit" class="save btn btn-default">Reply</button>
        </div>
      </form>

      <!-- Child comments -->
      {% for child in comment.children %}
      <div class="child-comment-box">
        <div>
          <span style="float:left">{{child.author}}</span>

          {% if user.is_authenticated %}
              <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">X</a>
          {% endif %} 

          <span style="float:right;">{{child.created_date|timesince}} ago  </span>
        </div>
        <div class="child-commentBox">
          {{child.text|linebreaks }}
        </div>
      </div>
      {% endfor %}

      <br />
      {% elif not comment.is_active and user.is_authenticated %}
        <div>
          {{comment.author}}

          <a class="btn" href="{% url 'comment_undelete' pk=comment.pk %}">Undo</a>

          <span style="float:right;">{{comment.created_date|date:"Y-m-d"}}</span>
        </div>
        <div class="commentBox" style="color: red">
          <div>{{ comment.text|linebreaks }}</div>
        </div>
        <br />
      {% endif %}
    {% empty %}
      <div class="commentBox">
        <div>No comments here yet.</div>
      </div>
    {% endfor %}
    </div>
    <hr>
{% endblock %}